/* *{
    border: 1px solid black;
} */
body{
    background-color: rgb(200, 200, 200);
    font-family: 'Kanit', sans-serif;
}
.browser{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
}
h2, h3{
    text-align: center;
    font-size: 48px;
    margin: 20px;
}
h3{
    font-size: 30px;
}
.gameContainer, .optionContainer{
    position: relative;
    height: 560px;
    width: 400px;
    margin: 0 auto;
    background-color: whitesmoke;
    border: 3px solid rgb(30, 30, 30);
    border-radius: 8px;
}
.gameContainer{
    display: none;
}
.optionContainer{
    display: block;
}
.dropdown{
    display: grid;
    justify-content: center;
    align-content: center;
}
#dropdown{
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
    width: 180px;
    border-radius: 6px;
}
.difficultyInfo{
    text-align: center;
    font-size: 24px;
    padding: 10px 0;
}
.gridContainer{
    display: grid;
    background-color: whitesmoke;
    grid-template-columns: repeat(9, 40px);
    grid-auto-rows: 40px;
    justify-content: center;
    align-content: center;
    width: 360px;
    height: 360px;
    margin-top: 26px;
    margin-left: 18px;
    margin-right: auto;
}
.controls{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
}
.options, .return{
    display: grid;
    justify-content: center;
    align-content: center;
}
.options > button{
    margin-top: 18px;
    width: 64px;
    height: 64px;
    border-radius: 32px;
    background-color: rgb(200, 200, 200);
    border: 0px;
}
.options > button > img{
    margin: 2px 0 0 0;
    width: 50px;
    height: 50px;
}
.options > button:hover, #returnButton:hover{
    background-color: rgb(185, 185, 185);
}
.options > button:active, #returnButton:active{
    background-color: rgb(200, 200, 200);
}
#returnButton{
    margin-top: 20px;
    width: 64px;
    height: 64px;
    border-radius: 32px;
    background-color: rgb(200, 200, 200);
    border: 0px;
    font-size: 40px;
}
.timer, .reset{
    margin: auto;
    margin-top: 24px;
}
.timer, .reset > button{
    width: 100px;
    height: 50px;
    border: 0px;
}
.timer{
    border-radius: 8px;
    background-color: rgb(100, 100, 100);
}
.timer > div{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: whitesmoke;
    text-align: center;
    font-size: 36px;
    margin-top: 4px;
}
.reset > button{
    font-size: 30px;
    border-radius: 8px;
    background-color: rgb(200, 200, 200);
}
.reset > button:hover{
    background-color: rgb(185, 185, 185);
}
.reset > button:active{
    background-color: rgb(200, 200, 200);
}
.square{
    width: 40px;
    height: 40px;
    margin: -1px 1px;
    border: 1px solid rgb(30, 30, 30);
}
.finishMessage{
    font-size: 30px;
    text-align: center;
    position: relative;
    margin-top: 20px;
}
.hidden, .detonate{
    width: 38px;
    height: 38px;
    margin-left: 0px;
    margin-top: 0px;
    border: 1px solid rgb(30, 30, 30);
    background-color: rgb(190, 190, 190);
}
.detonate{
    background-color: rgb(255, 0, 0);
}
#mine{
    width: 35px;
    height: 35px;
    margin: 2px 2px 0 1px;
}
.numberOfMines{
    margin-top: -10px;
    text-align: center;
    font-size: 40px;
}
#flag > img{
    width: 35px;
    height: 35px;
    margin: 2px 2px;
}
#mines1{
    color:blue
}
#mines2{
    color:green
}
#mines3{
    color:crimson
}
#mines4{
    color:darkmagenta
}
#mines5{
    color:coral
}